/nbproject/private/
/target/
/target-history/target-*/classes
/target-history/target-*/test-classes
/javadoc/

# Eclipse files #
/.classpath
/.project
/.settings

# Intellij Idea
.idea
*.iml

# LaTeX
*.aux
*.synctex.gz
*.log
*.bbl
*.blg
*.dvi
*.out.ps
